projects/*/*.class
projects/*/*.log

# sbt specific
projects/*/.cache
projects/*/.history
projects/*/.lib/
projects/*/dist/*
projects/*/target/
projects/*/lib_managed/
projects/*/src_managed/
projects/*/project/boot/
projects/*/project/target/
projects/*/project/plugins/project/

# Scala-IDE specific
projects/*/.scala_dependencies
projects/*/.worksheet
